/* #jumboHome{
    margin-left: 10% ;
} */







/* Reservation HTML CSS */
.tableBox {
    border: 5px solid grey;
}
.boxHeader {
    border-bottom: 2px solid rgb(199, 194, 194);
    margin: 5px 0px;
}